/* FONT FACE - font-display: fallback; */

@font-face {
    font-family: "peb";
    src: url("../fonts/ProximaNovaA-Extrabld.woff2") format("woff2"), url("../fonts/ProximaNovaA-Extrabld.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "pb";
    src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "pr";
    src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "my";
    src: url("../fonts/MyriadPro-BlackSemiCn.woff2") format("woff2"), url("../fonts/MyriadPro-BlackSemiCn.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "glb";
    src: url("../fonts/Gala-Bold.woff2") format("woff2"), url("../fonts/Gala-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "din";
    src: url('../fonts/DINCondensed-Bold.woff2') format('woff2'), url('../fonts/DINCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}